*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 background:linear-gradient(45deg,rgba(55, 214, 223, 0.828), rgba(72, 149, 225, 0.738),rgba(217, 136, 59, 0.766),rgba(209, 81, 56, 0.771));
}

.container{
    width: 350px;
    height: 450px;
    background-color: rgba(103, 78, 34, 0.319);
    box-shadow: 0px 0px 0px 1.4px rgba(68, 42, 1, 0.309) ;
    border-radius: 5px;
    opacity: 1;

}

.container h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: whitesmoke;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.all-form{
    padding: 10px 30px;
}

legend{
    font-size: 19px;
    color: whitesmoke;
    margin-top: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding: 0px 10px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(93, 90, 90, 0.729);
    border: none;
    border-radius: 5px;
    outline: none;
    overflow: unset;
}
input::placeholder{
    color:whitesmoke;
}

.btn{
    display: flex;
    flex-direction: column;
}
.Login{
    width: 100%;
    height: 45px;
    margin-top: 38px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.social-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.so-btn{
width: 129px;
height: 37px;
background-color:rgba(128, 123, 123, 0.729) ;
border: none;
border-radius: 5px;
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.bxl-google{
font-size: 20px;
margin-right: 3px;

}

.bxl-facebook-circle{
    font-size: 20px;
    margin-right: 3px;
}